VITE_SUPABASE_URL=https://hthdcmbgio.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0aGRjbWJnaW9scHZjeGR1dm5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwMDYwODcsImV4cCI6MjA5MjU4MjA4N30.tV1bBfvfdVHFWmHD8DOFlaHt3sv12UVSdIEVrZefslg
